.bigsection {
    width: 100vw;
    color: #ffffff;
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
    min-height: fit-content;
    margin: 0;
    padding: 2vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
}

.bigsection:nth-of-type(4n-4) {
    flex-direction: row;
}

.bigsection:nth-of-type(2n+1) {
    background-color: #fff;
    color: rgb(46, 12, 79);
}

.bigsection-header {
    font-weight: bold;
}

.bigsection-header h1 {
    font-size: 3em;
}

.bigsection-header h2 {
    font-size: 2em;
}

.bigsection-container {
    height: 100%;
    width: 100%;
    margin: 1rem;
}

.bigsection-content {
    margin: 2rem;
    width: 50%;
}

.bigsection-content li:not(:first-child) {
    margin-left: 0.75rem;
}

.bigsection-image {
    margin: 0 auto;
}

.bigsection-image[src="assets/logo/knight-in-space.png"] {
    animation: knight-wobble 5s ease-in-out infinite alternate;
    width: 80%;
    margin: 10% 0 0 10%;
}

.bigsection-image:hover {
    animation-play-state: paused;
}

@keyframes knight-wobble {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    25% {
        transform: rotate(3deg) translateY(10%);
    }
    75% {
        transform: translateY(-10%);
    }
    100% {
        transform: rotate(-3deg);
    }
}

/* responsiveness for bigsection */

@media only screen and (max-width: 768px) {
    .bigsection {
        min-height: fit-content;
        border: 2px solid burlywood;
    }
    .bigsection-right, .bigsection-left {
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding: 0;
    }
    .bigsection-header {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        float: left;
    }
    .bigsection-header h1 {
        font-size: 2em;
    }
    .bigsection-header h2 {
        font-size: 1.5em;
        border: 2px solid green;
        margin: 5% auto;
        display: inline-block;
    }
    .bigsection-left~.bigsection-content, .bigsection-right~.bigsection-content {
        width: 90%;
        margin: 0;
        float: left;
    }
    .bigsection-image {
        display: block;
        margin: 0 auto;
    }
    .bigsection li {
        border: 2px solid red;
        width: 60vw;
        height: min-content;
    }
}

/* Play button css */
.play {
    border-radius: 50%;
    background-color: #fff;
    color: #2e0c4f;
    font-size: 1.8rem;
    font-weight: bold;
    height: 3.5rem;
    width: 3.5rem;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.7s;
    text-align: center;
    box-sizing: border-box;
}

.play i {
    transform: rotateZ(5deg);
    display: block;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.play:hover {
    background-color: #2e0c4f;
    color: #fff;
    border: 5px solid #fff2;
}

.play:hover i {
    transform: rotateZ(-5deg) scale(0.8) translateY(-0.5rem);
}

.bg-cover {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    backdrop-filter: blur(5px);
    z-index: 3;
    cursor: copy
}

.play-video {
    position: fixed;
    top: 25%;
    left: 15%;
    width: 70%;
    height: 70%;
    z-index: 4;
    border-radius: 2%;
}