.cardsection {
    width: 100vw;
    color: #ffffff;
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
    min-height: fit-content;
    height: 100vh;
    margin: 0;
    padding: 7vw 2vw 2vw 2vw;
    box-sizing: border-box;
    position: relative;
    clip-path: polygon(0% 5%, 50% 10%, 100% 15%, 100% 100%, 50% 95%, 0% 90%);
}

.cardsection:nth-of-type(2n+1) {
    clip-path: polygon(0% 15%, 50% 10%, 100% 5%, 100% 90%, 50% 95%, 0% 100%);
    background-color: #fff;
    color: #2e0c4f;
}

.cardsection[data-overrideSlant="true"] {
    clip-path: none;
}

.cardsection[data-color="light"] {
    background-color: #fff;
    color: #2e0c4f;
}

.cardsection[data-color="dark"] {
    color: #fff;
    background-color: #2e0c4f;
}

.card {
    width: 30%;
    min-height: 70%;
    min-width: min-content;
    aspect-ratio: 4.5/5;
    box-sizing: border-box;
    padding: 5vh;
    margin: 2% 1%;
    float: left;
    background-color: #fff;
    color: #2e0c4f;
    border-radius: 1%;
    box-shadow: -2px 2px 5px 0 #00000080;
    position: relative;
}

.card:nth-of-type(2n) {
    background-color: #4c1d7b;
    box-shadow: -3px 3px 5px 0 #00000080;
    color: #fff;
}

.white:nth-of-type(n) {
    background-color: #fff;
    color: #2e0c4f;
}
.card img {
    width: 60%;
    object-fit: scale-down;
    border-radius: 10%;
}